<p>notas works!</p>
<router-outlet></router-outlet>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Tipo De Nota</th>
            <th>Fecha A</th>
            <th>Fecha T</th>


        </tr>
    </thead>
    <tbody>
        <tr *fnFor="let nota of notas; index as i;">

          
            <td>{{nota.titulo}}</td>
            <td>{{nota.descripcion}}</td>
            <td>{{nota.tipo}}</td>
            <td>{{nota.fechaA}}</td>
            <td>{{nota.fechaT}}</td>
        </tr>
          
        
    </tbody>
</table>
