<div id="main" class="container">
    <h2 id="titulo">Nueva nota</h2>
</div>
<div class="container">
    <form novalidate (ngSubmit)="agregarNota(notaForm)" [formGroup]="notaForm">

        <div class="mb-3 row">
            <label for="inputTitulo" class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitulo" formControlName="titulo">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputFecha" class="col-sm-2 col-form-label">Fecha Actual:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputFecha" formControlName="fechaA">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputFecha" class="col-sm-2 col-form-label">Fecha T:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputFecha" formControlName="fechaT">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputTipo" class="col-sm-2 col-form-label">Tipo de nota:</label>
            <div class="col-sm-10">
                <select class="form-select" formControlName="tipo" aria-label="Default select example">
                    <option selected>-- Seleccionar --</option>
                    <option value="Tarea">Tarea</option>
                    <option value="Recordatorio">Recordatorio</option>
                    <option value="Urgente">Urgente</option>
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="textArea" class="form-label">Descripcion de la Nota:</label>

            <textarea class="form-control" id="textArea" formControlName="descripcion" rows="3"></textarea>

        </div>
        <div class="alert alert alert-success" role="alert" *ngIf = "bandera==true">

            <i class="fas fa-check-circle"></i> {{mensaje}}
    
        </div>
        <div class="d-grid gap-2">
            <input class="btn btn-dark " type="submit" value="Guardar">
        </div>
        <br>
      
        
    </form>
    

</div>