<h5>¿No tienes una cuenta? <a routerLink="/registro">!Registrate aqui!</a></h5>
<form novalidate (ngSubmit)="loginUser(loginForm)" [formGroup]="loginForm">

  <h2 class="separador aling">Accesar</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <div class="d-grid gap-2"> <button type="submit" class="btn btn-dark">Ingresar</button></div>


  <div class="alert alert-warning" role="alert" *ngIf = "flag==true">

    {{mensaje}}

  </div>

</form>