        <h3 class="titulo">Usuarios Registrados</h3>
        <table class="table table-info">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Notas</th>
                 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let user of users;">
                    <td>{{user.nombre}}</td>
                    <td>{{user.apellido}}</td>
                    <td>{{user.telefono}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex">
                            <button type="button" class="btn btn-outline-primary" (click)="mostrarNotas(user.email)"><i class="fas fa-sticky-note"></i></button>
                            <button type="button" class="btn btn-outline-danger" (click)="eliminarUsuario(user.nombre)"><i class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert  d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
            {{mensajeExito}}
            </div>
          </div>
        <h3 class="titulo">Notas por usuario</h3>
        <div class="container mt-5 mb-3">
            <div class="row">
                <div class="col-md-4" *ngFor = "let nota of notas;">
                    <div class="card p-3 mb-2" >
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="fas fa-file-signature"></i></div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">{{nota.titulo}}</h6> <span>{{nota.fechaA}}</span>
                                </div>
                            </div>
                            <div class="badge"> <span><button type="button" id="btnEliminar" class="btn btn-outline-danger"(click)="eliminarNotas(nota.titulo)"><i class="fas fa-trash"></i></button></span> </div>
                        </div>
                        <div class="mt-5">
                            <h3 class="heading">{{nota.descripcion}}</h3>
                            <div class="mt-5">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <div class="badge-tipo"> <span>{{nota.tipo}} </span> </div>
                                    <button class="btn btn-outline-light me-md-2" type="button" id="see" title="Ver"><i class="fas fa-eye"></i></button>
                                    <button class="btn btn-outline-light" type="button" id="edit" title="Editar Nota"><i class="fas fa-pen-alt"></i></button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



